/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg,
iframe {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Variables */

:root {
  /* Colors */
  --color-scissors-gradient: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --color-paper-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --color-rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --color-lizard-gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
  --color-spock-gradient: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

  --color-dark-text: hsl(229, 25%, 31%);
  --color-score-text: hsl(229, 64%, 46%);
  --color-header-outline: hsl(217, 16%, 45%);

  --color-radial-gradient-start: hsl(214, 47%, 23%);
  --color-radial-gradient-end: hsl(237, 49%, 15%);
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
  font-style: normal;
  background: radial-gradient(
    circle at center top in hsl,
    var(--color-radial-gradient-start),
    var(--color-radial-gradient-end)
  );
  block-size: 100dvh;
}

.invisible {
  display: none;
}

header {
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--color-header-outline);
    max-inline-size: 704px;
    margin-inline: auto;
    margin-block-start: 46px;
    padding: 1.7rem 2.3rem 1.6rem 2.9rem;
    border-radius: 16px;
}

header > img {
  position: relative;
  top: 4px;
}

.score-card {
  background-color: white;
  min-inline-size: 150px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  padding-block-start: 1.2rem;
  font-size: 1.8rem;
  letter-spacing: 1.4px;
  color:  var(--color-score-text);
}

#score {
  display: block;
  font-size: 6.5rem;
  line-height: .9;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: var(--color-dark-text);
}
